body {
  background-color: black;
  color: white;
}

a {
    color: yellowgreen;
}

.lunar{

  position: relative;
  overflow: hidden;
  min-height: 600px;
  background-image: linear-gradient(to bottom black, blue);
  }

.moon {
  background-color: white;
  display: block;
  box-shadow:0 0 3em cyan, 0 0 1.5em white;
  border-radius: 90px;
  background: #white;
  padding: 20px;
  width: 80px;
  height: 80px;
  z-index: 5;
  position: absolute;
  top: 20px;
  left: 45%;
}

.img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.stars-space {
  z-index: 1;
  top: auto;
  width: 100%;
}

.mid-mtn{
  z-index: 20;
  bottom: :auto;
  width: 100%;
}

.dome{
  z-index: 30;
  bottom: :auto;
    width: 100%;
}

.mtn1{
  z-index: 40;
  bottom: :auto;
}

.rocket{
  z-index: 150;
  width: 55%;
  left:30%;
  bottom: :auto;
}

.ground{
  z-index: 60;
  bottom: :auto;
}
